{% extends 'base.html %}

{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

<div class="container">
  <div class="row">
    {% if current_user.is_authenticated %}
    <a href="{{url_-for('main.new_blog')}}">add blog</a>
    {% else %}

    <a href="{{url_-for('auth.login')}}">login first</a>
  </div>

  <div class="blogs">
    {% if blogs %} {% for blog in blogs %}
    <p>title: {{blog.title}}</p>
    <p>{{blog.content}}</p>
    <p>{{blog.posted_on}}</p>
    <p>{{blog.posted_by:}}</p>
  </div>
</div>

{% endblock content %}
