{% extends 'base.html' %} {% block content %}

<div
  class="jumbotron text-center"
  style="background-color: rgb(29, 5, 12); color: #fff; padding: 55px 25px; font-family: 'Monoton', cursive;"
>
  <h1 class="pitch" style="font-family: 'Julius Sans One', sans-serif;">
    WELCOME TO BLOG POSTS
  </h1>

  <div class="container">
    <a href="">START YOUR OWN BLOG</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a class="Lifestyle" href="/app/Lifestyle Blogs" style="font-size: 30px;">LIFESTYLE BLOGS</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2014/09/03/20/15/legs-434918__340.jpg" 
        alt=""
      />
    </div>
  </div>


<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-6">
        <a class="Lifestyle" href="/app/Lifestyle Blogs" style="font-size: 30px;">TRAVEL BLOGS</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2017/01/16/15/17/hot-air-balloons-1984308__340.jpg"
        alt=""
      />
      
    </div>
  </div>
<!-- </div> -->

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <a class="health" href="/app/Lifestyle Blogs" style="font-size: 30px;">HEALTH</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2014/12/20/09/18/running-573762__340.jpg"
        alt=""
      />
      
    </div>
  </div>
</div>

<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-3">
        <a class="fashion" href="/app/Lifestyle Blogs" style="font-size: 30px;">FASHION BLOGS</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2015/09/25/04/19/photographer-956676__340.jpg"
        alt=""
      />
      
    </div>
  </div>
<!-- </div> -->

<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-3">
        <a class="food" href="/app/Lifestyle Blogs" style="font-size: 30px;">FOOD BLOGS</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2017/05/07/19/32/strawberry-2293337__340.jpg"
        alt=""
      />
      
    </div>
  </div>
<!-- </div> -->
<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-3">
        <a class="entertainment" href="/app/Lifestyle Blogs" style="font-size: 30px;">ENTERTAINMENT BLOGS</a><br>
      <img
        src="https://cdn.pixabay.com/photo/2017/07/21/23/57/concert-2527495__340.jpg"
        alt=""
      />
      
    </div>
  </div>
<!-- </div> -->
</div>

{% endblock content %}
